:root {
    --teal: #17353B;
    --pink: #B88884;
    --green: #455B52;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #17353B;
    color: white;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:baseline;
}

header h1 {
    margin: 0;
    padding: 8px 2px;
    font-family: 'Berkshire Swash', sans-serif;
}

header span {
    font-size: 18px;
    font-family: 'Berkshire Swash', sans-serif;
}

#neg-h1 {
    padding: 8px 0;
    margin-left: -4px;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 60px 0;
}

form {
    max-width: 600px;
    margin: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.form-field-check {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
}

